<aside class="sidebar">
    <div id="leftside-navigation">
        <ul class="nano-content">
                <li class="sub-menu {{#compare Menu '===' 'content'}}on{{else}}{{/compare}}">
                    <a href="{{adminDir}}/content/">
                        <span>文章</span>
                    </a>
                </li>

                <li class="sub-menu {{#compare Menu '===' 'category'}}on{{else}}{{/compare}}">
                    <a href="{{adminDir}}/category/">
                        <span>分类</span>
                    </a>
                </li>

            <li class="sub-menu {{#compare Menu '===' 'comment'}}on{{else}}{{/compare}}">
                <a href="{{adminDir}}/comment">
                    <span>评论</span>
                </a>
            </li>
            <li class="sub-menu {{#compare Menu '===' 'message'}}on{{else}}{{/compare}}">
                <a href="{{adminDir}}/message">
                    <span>留言</span>
                </a>
            </li>
           <!-- <li class="sub-menu {{#compare Menu '===' 'log'}}on{{else}}{{/compare}}">
                <a href="{{adminDir}}/log">
                    <span>日志</span>
                </a>
            </li>
            <li class="sub-menu {{#compare Menu '===' 'tag'}}on{{else}}{{/compare}}">
                <a href="{{adminDir}}/tag">
                    <span>标签</span>
                </a>
            </li>
            <li class="sub-menu {{#compare Menu '===' 'role'}}on{{else}}{{/compare}}">
                <a href="{{adminDir}}/role">
                    <span>角色</span>
                </a>
            </li>
            <li class="sub-menu {{#compare Menu '===' 'user'}}on{{else}}{{/compare}}">
                <a href="{{adminDir}}/user">
                    <span>用户</span>
                </a>
            </li>
            <li class="sub-menu {{#compare Menu '===' 'page'}}on{{else}}{{/compare}}">
                <a href="{{adminDir}}/page">
                    <span>页面</span>
                </a></li>
            <li class="sub-menu {{#compare Menu '===' 'file'}}on{{else}}{{/compare}}">
                <a href="{{adminDir}}/file">
                    <span>文件</span>
                </a>
            </li>

            <li class="sub-menu active">
                <a href="{{adminDir}}/notification">
                   <span>站内信</span></a>
            </li>-->




        </ul>
    </div>
</aside>