
<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/semantic-ui/2.2.9/semantic.min.css">
    <link rel="stylesheet" href="/assets/app/css/style.css">
    <meta name="keywords" content="{{#if keywords}}{{#each keywords}}{{name}}|{{/each}}{{/if}}" />
    <meta name="description" content="{{#if description}}{{strip100 description}}...{{/if}}" />


    <!-- Custom styles for this page-->
    {{#each cssList}}
        <link rel='stylesheet' href={{this}} />
    {{/each}}
</head>
<body>
<div class="ui large top fixed menu transition hidden">
    <div class="ui container"><a href="/" class="item active">首页</a><a href="/contact" class="item">留言</a>
        <div class="right menu">
            {{#if User}}
              <a href="{{adminDir}}" class="item">{{User.name}}</a>
              <a href="{{adminDir}}/user/logout" class="item">注销</a>
            {{else}}
              <div class="item"><a href="{{adminDir}}/user/login" class="ui button">登录</a></div>
              <div class="item"><a href="{{adminDir}}/user/register" class="ui primary button">注册</a></div>
            {{/if}}
        </div>
    </div>
</div>
<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui container">
            <div class="ui large secondary inverted pointing menu">
                <a href="/" class="item active">首页</a>
                <a href="/contact" class="item">留言</a>
                <div class="right item">
                    {{#if User}}
                        <a href="{{adminDir}}" class="item">{{User.name}}</a>
                        <a href="{{adminDir}}/user/logout" class="item">注销</a>
                    {{else}}
                        <a href="{{adminDir}}/user/login" class="ui inverted button">登录</a>
                        <a href="{{adminDir}}/user/register" class="ui inverted button">注册</a>
                    {{/if}}

                </div>
            </div>
        </div>
        <!--<div class="welcome">
            <div class="ui text container">
                <h1 class="ui inverted header">frogo</h1>
                <h2> </h2><a href="https://github.com/xiaoshan5733/cms" target="_blank" class="ui huge primary button">github<i class="right arrow icon"></i></a>
            </div>
        </div>-->
    </div>
</div>
<div class="page">
    {{{body}}}
</div>
<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height grid">
            <div class="ten wide column">
                <h3 class="ui inverted large header">frogo</h3>
                <p>基于nodejs + mongodb 的博客</p><a target="_blank" href="https://github.com/frogo/blog" class="item">github</a>
            </div>
        </div>
    </div>
</div>
<script src="//cdn.jsdelivr.net/jquery/3.2.1/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/semantic-ui/2.2.9/semantic.min.js"></script>
<script src="//cdn.jsdelivr.net/mustache.js/2.3.0/mustache.min.js"></script>
<script src="//cdn.jsdelivr.net/momentjs/2.18.1/moment-with-locales.min.js"></script>
<!-- Load these page level functions-->
{{#each jsList}}
    <script src={{this}}></script>
{{/each}}
{{{_sections.scripts}}}
<script>
    $('.masthead')
            .visibility({
                once: false,
                onBottomPassed: function() {
                    $('.fixed.menu').transition('fade in');
                },
                onBottomPassedReverse: function() {
                    $('.fixed.menu').transition('fade out');
                }
            })
</script>
</body>
</html>