<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/assets/app/css/style.css">
    <meta name="keywords" content="{{#if keywords}}{{keywords}}{{/if}}" />
    <meta name="description" content="{{#if description}}{{strip100 description}}...{{/if}}" />
    <!-- Custom styles for this page-->
    {{#each cssList}}
        <link rel='stylesheet' href={{this}} />
    {{/each}}
</head>
<body>

<header class="">
    <div class="cl pdt20 site-content">
        <div class="name fl">
            <h1 class="site-name fl"><a href="/" title="Frogo">Frogo's area</a></h1>
        </div>
        <div class="menu fr">
            <form id="search" class="search-form" action="/" role="search" method="GET">
                <label title="Search">
                    <svg xmlns="http://www.w3.org/2000/svg" style="display:none">
                        <symbol viewBox="0 0 25 25" id="svg-search">
                            <title>svg-search</title>
                            <path d="M20.067 18.933l-4.157-4.157c.837-1.032 1.34-2.345 1.34-3.776 0-3.314-2.686-6-6-6s-6 2.686-6 6 2.686 6 6 6c1.43 0 2.744-.503 3.776-1.34l4.157 4.157c.113.113.27.183.442.183.345 0 .625-.28.625-.625 0-.173-.07-.33-.183-.442zM6.5 11c0-2.62 2.13-4.75 4.75-4.75S16 8.38 16 11s-2.13 4.75-4.75 4.75S6.5 13.62 6.5 11z">
                            </path>
                        </symbol>
                    </svg>
                    <svg viewBox="0 0 25 25" width="25" height="25" class="svgIcon"><use class="svgIcon-use" xlink:href="#svg-search"></use></svg>
                    <input class="textInput textInput--dark textInput--rounded"  required="true" type="text", name="key", id="key", value="" placeholder="搜索">
                </label>
            </form>
        </div>
    </div>
</header>

<main class="site-content pdtb50">
    {{{body}}}
</main>

<footer class="">
    <section class="site-content">
       <div class="info pdt20">
           <p>Base on NodeJs + Mongodb <a target="_blank" href="https://github.com/frogo/blog" class="red">Github</a>,
               Designed and Developed by <a target="_blank" href="http://frogo.cn" class="red">Frogo</a>
               <a href="/contact/" class="fr">留言</a>
           </p>
       </div>
    </section>
</footer>

<script src="//cdn.jsdelivr.net/jquery/3.2.1/jquery.min.js"></script>
<!-- Load these page level functions-->
{{#each jsList}}
    <script src={{this}}></script>
{{/each}}
{{{_sections.scripts}}}
</body>
</html>