<div class="row">
    <div class="col-md-12">

        <p class="lead">
            <a href="{{adminDir}}/comment/" class="btn btn-default btn-sm">评论列表</a>
        </p>

        <div class="lists">
            <p>{{comment.content}}</p>
            <p>来自：{{#if comment.from}}<a href="/content/{{comment.from.id}}" target="_blank">{{comment.from.title}}</a>{{/if}}
            </p>
            <p>{{comment.created}}</p>
            <p>作者：{{#if comment.author}}{{comment.author}}{{else}}匿名{{/if}}
            </p>
        </div>
    </div>
</div>