<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">我的信息</div>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-2"><img src="{{avatar User.email}}" class="img-circle">
                        </div>
                        <div class="col-md-10"><a href="{{adminDir}}/me/edit" title="编辑" style="line-height: 100px;"><span class="glyphicon glyphicon-edit"></span></a></div>
                    </div>
                </li>
                <!--li.list-group-item
                .row
                    .col-md-2
                        strong 用户ID
                    .col-md-10
                        | 599bef1b65969929c4b03b84
                -->
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-2"><strong>用户名</strong></div>
                        <div class="col-md-10">{{user.username}}</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-2"><strong>名字</strong></div>
                        <div class="col-md-10">{{user.name}}</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-2"><strong>Email</strong></div>
                        <div class="col-md-10">{{user.email}}</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-2"><strong>手机号</strong></div>
                        <div class="col-md-10">{{user.mobile}}</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-2"><strong>生日</strong></div>
                        <div class="col-md-10">{{user.birthday}}</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-2"><strong>性别</strong></div>
                        <div class="col-md-10">{{user.gender}}</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-2"><strong>注册日期</strong></div>
                        <div class="col-md-10">{{user.created}}</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-md-12">
        <div class="panel panel-danger">
            <div class="panel-heading">修改密码</div>
            <div class="panel-body">
                <form action="{{adminDir}}/me/updatepwd" method="post" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-2 text-right">旧密码</label>
                        <div class="col-md-4">
                            <input type="password" name="oldpassword" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 text-right">新密码</label>
                        <div class="col-md-4">
                            <input type="password" name="password" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 text-right">确认新密码</label>
                        <div class="col-md-4">
                            <input type="password" name="repassword" class="form-control">
                        </div>
                    </div>
                    <input type="hidden" name="_csrf" value="{{token}}">
                    <div class="form-group">
                        <div class="col-md-4 col-md-offset-2">
                            <button type="submit" class="btn btn-primary">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>