extends ../layout

block content
    .row
        .col-md-6
            .panel.panel-default
                .panel-heading
                    h3.panel-title 添加用户
                .panel-body
                    form.form-horizontal(role='form', action='', method='post')
                        .form-group
                            label.col-sm-2.control-label(for='inputEmail2') 用户名
                            .col-sm-10
                                input#inputEmail2.form-control(type='text', name='username', placeholder='用户名')
                        .form-group
                            label.col-sm-2.control-label(for='inputPassword3') 密码
                            .col-sm-10
                                input#inputPassword3.form-control(type='password', name='password', placeholder='密码')
                        .form-group
                            label.col-sm-2.control-label(for='name') 姓名
                            .col-sm-10
                                input#name.form-control(type='text', name='name', placeholder='姓名')
                        .form-group
                            label.col-sm-2.control-label(for='mobile') 电话
                            .col-sm-10
                                input#mobile.form-control(type='text', name='name', placeholder='电话')
                        .form-group
                            label.col-sm-2.control-label(for='') 岗位
                            .col-sm-10
                                select.form-control.input-sm(name='level')
                                   option(value='') 无
                                   option(value='7') 老板
                                   option(value='6') 总经办
                                   option(value='5') 总经理
                                   option(value='4') 大区经理
                                   option(value='3') 大组长
                                   option(value='2') 小组长
                                   option(value='1') 业务员
                        .form-group
                            label.col-sm-2.control-label(for='') 隶属部门
                            .col-sm-10
                                select.form-control.input-sm(name='department')
                                    option(value='') 无
                                       - each department in departments
                                           if (department.parent)
                                               option(value='#{department.id}')  #{department.parent.parent}- #{department.name}
                                           //else if (department.parent.parent)
                                           //     option(value='#{department.id}') #{department.parent.parent.name}- #{department.parent.name}- #{department.name}

                        .form-group
                            label.col-sm-2.control-label(for='inputPassword5') Email
                            .col-sm-10
                                input#inputPassword5.form-control(type='email', name='email', placeholder='Email')
                        input(type='hidden', name='_csrf', value='#{token}')
                        .form-group
                            .col-sm-offset-2.col-sm-10
                                button.btn.btn-primary(type='submit') 提交

block foot-js
    script.
        Messenger.options = {
            extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-right',
            theme: 'flat'
        };
        $(function() {
            var messenger;
            $('form').ajaxForm({
                beforeSerialize: function() {
                    console.log('beforeSerialize')
                },
                beforeSubmit: function() {
                    console.log('beforeSubmit')
                    messenger = Messenger().post("处理中...");
                },
                success: function(data, status, xhr, $form) {
                    console.log(data)
                    var status = data.status;
                    if (status) {
                        messenger.update({
                            message: '添加成功',
                            hideAfter: 3,
                            type: 'success'
                        });
                        $form[0].reset();
                    } else {
                        messenger.update({
                            message: '添加失败',
                            hideAfter: 3,
                            type: 'success'
                        });
                    }
                },
                err: function() {
                    console.log('error')
                    messenger.update({
                        message: '系统繁忙',
                        hideAfter: 3,
                        type: 'success'
                    });
                }
            })//end ajaxform

            //部门department
            $("select[name='level'] ").change(function () {
                var level = $(this).find("option:selected").attr("value");
                 if(level === '1'){

                 }

            })

        })