{{#if type}}
<div class="login forgot"">
    <div class="box>
        <h6>请为 <strong>{{user.username}}</strong> 设置新密码 </h6>
        <form method="post">
            <input id="password" type="password" name="password" placeholder="新密码" />
            <hr class="hr15">
            <input id="password" type="password" name="repassword" placeholder="确认新密码" />
            <hr class="hr15">
            <input type="hidden" name="hash" value="{{hash}}">
            <input type="hidden" name="_csrf" value="{{token}}">
            <input value="提交" style="width:100%;" type="submit">

        </form>
    </div>

</div>
{{else}}
    <div class="login  findPassword">
        <div class="box">
        <h6>请输入你的用户名找回密码</h6>
        <form method="post">
            <input id="username" name="username" placeholder="用户名" required="" type="text">
            <hr class="hr15">
            <input type="hidden" name="_csrf" value="{{token}}">
            <input value="提交" style="width:100%;" type="submit">
        </form>
        </div>
    </div>
{{/if}}