
<!-- main content start-->

<div class="row">
    <div class="col-md-12">
        <p class="lead">
            <a href="{{adminDir}}/user/" class="btn btn-default btn-sm">用户列表</a>
            <a href="{{adminDir}}/user/add" class="btn btn-default btn-sm">用户添加</a>
        </p>


                    <div class="form-group">
                        <label class="col-sm-2 control-label">ID</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">{{user.id}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">名称</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">{{user.name}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">用户名</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">{{user.username}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">{{user.email}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">手机号</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">{{#if user.mobile}}{{user.mobile}}{{else}}无{{/if}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">性别</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">{{#if user.gender}}{{user.gender}}{{else}}无{{/if}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">角色</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">
                                {{#each user.roles}}<span class="label label-default mgr5">{{name}}</span>{{/each}}
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">创建人</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">
                                {{#if user.author.username}}{{user.author.username}}{{else}}无{{/if}}
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">注册时间</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">{{dateFormat user.created 'yyyy-MM-dd hh:mm:ss'}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">上次登录时间</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">{{#if user.last_login_date}}{{dateFormat user.last_login_date 'yyyy-MM-dd hh:mm:ss'}}{{else}}无{{/if}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">上次登录IP</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">{{user.last_login_ip}}</p>
                        </div>

    </div>
</div>
</div>
<!-- main content end-->
