<div class="row">
    <div class="col-md-12"><a href="{{adminDir}}/page/add" class="btn btn-info J_post">新增页面</a>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>标题</th>
                <th>内容</th>
                <th>时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {{#each pages}}
            <tr>
                <td> <a href="/page/{{id}}" target="_blank">{{title}} <i class="fa fa-external-link"></i></a></td>
                <td>{{content}}</td>
                <td>{{dateFormat created 'yyyy-MM-dd hh:mm:ss'}}</td>
                <td><a href="{{../adminDir}}/page/{{id}}/del" class="btn btn-danger btn-xs J_del">删除</a></td>
            </tr>
            {{/each}}
            </tbody>
        </table>
        {{#if pageInfo}}
            {{#compare pageInfo.totalPage '>' 1}}
                <ul class="pagination">{{{pagination pageInfo}}}</ul>
            {{/compare}}
        {{/if}}
    </div>
</div>


<!-- Load these page level functions-->
{{#section 'scripts'}}
    <script type="text/javascript">
      //  var user = JSON.stringify({{User}});
        var token = '{{token}}';
        Messenger.options = {
            extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-right',
            theme: 'flat'
        };
        $(document).on('click', '.J_post', function(e) {
            e.preventDefault();
            var $this = $(this);
            var url = $this.attr('href');
            var request = function(title, content, dialog) {
                $.post(url, {
                    _csrf: token,
                    title: title,
                    content: content
                }, function(json) {
                    console.log(json);
                    dialog.close();
                    BootstrapDialog.alert(json.message);
                });
            };

            var $dialog = BootstrapDialog.show({
                title: '新增页面',
                message: '<div class="form-group">' +
                '              <label>标题</label>' +
                '              <input name="title" class="form-control">' +
                '            </div>' +
                '            <div class="form-group">' +
                '              <label>内容</label>' +
                '              <textarea rows="4" name="content" class="form-control"></textarea>' +
                '            </div>',
                buttons: [
                    {
                        label: '提交',
                        cssClass: 'btn-primary',
                        action: function(dialog) {
                            console.log(dialog)
                            var title = dialog.$modalBody.find('input').val();
                            var content = dialog.$modalBody.find('textarea').val();
                            request(title, content, dialog);
                        }
                    },
                    {
                        label: '取消',
                        action: function(dialogItself) {
                            dialogItself.close();
                        }
                    }
                ]
            });
        });

        $(document).on('click', '.J_del', function(e) {
            e.preventDefault();
            var $this = $(this);
            var $tr = $this.closest('tr');
            var url = $this.attr('href');
            var messenger = Messenger().post("处理中...");
            $.post(url, {_csrf: token}, function(json) {
                console.log(json);
                var status = json.status;
                if(status === true) {
                    //- Messenger().post({
                    //-     message: '删除成功',
                    //-     hideAfter: 3,
                    //-     type: 'success'
                    //- });
                    messenger.update({
                        message: '删除成功',
                        hideAfter: 3,
                        type: 'success'
                    });
                    $tr.remove();
                } else {
                    //- Messenger().post({
                    //-     message: '删除失败',
                    //-     hideAfter: 3,
                    //-     type: 'error'
                    //- });
                    messenger.update({
                        message: '删除失败',
                        hideAfter: 3,
                        type: 'error'
                    });
                }
            })
        });
    </script>
{{/section}}
