<div class="row">
    <div class="col-md-12"><a href="{{adminDir}}/role/add" class="btn btn-info">添加角色</a>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>名称</th>
                <th>创建人</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {{#each roles}}
            <tr>
                <td><a href="{{../adminDir}}/role/{{id}}">{{name}}</a></td>
                <td>{{#if author}}{{author.name}}{{else}}无{{/if}}
                </td>
                <td>{{dateFormat created 'yyyy-MM-dd hh:mm:ss'}}</td>
                <td><a href="{{../adminDir}}/role/{{id}}/edit" class="btn btn-default btn-xs">编辑</a>&nbsp;<a href="{{../adminDir}}/role/{{id}}/del" class="btn btn-danger btn-xs J_del">删除</a>
                </td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>



<!-- Load these page level functions-->
{{#section 'scripts'}}
    <script type="text/javascript">
        var token = '{{token}}';
        Messenger.options = {
            extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-right',
            theme: 'flat'
        };
        $(function() {
            $(document).on('click', '.J_del', function(e) {
                e.preventDefault();
                var $this = $(this);
                var url = $this.attr('href');
                var messenger = Messenger().post("处理中...");
                $.post(url, {_csrf: token}, function(res) {
                    console.log(res);
                    var status = res.status;
                    if (status) {
                        messenger.update({
                            message: '删除成功',
                            hideAfter: 3,
                            type: 'success'
                        });
                        setTimeout(function() {
                            $this.closest('tr').remove();
                        }, 1000)

                    } else {
                        messenger.update({
                            message: '删除失败',
                            hideAfter: 3,
                            type: 'error'
                        });
                    }
                })
            })
        })
    </script>
{{/section}}

