<div class="row">
    <div class="col-md-12">

        <p class="lead">
            <a href="{{adminDir}}/category/" class="btn btn-default btn-sm">分类列表</a>
            <a href="{{adminDir}}/category/add" class="btn btn-default btn-sm">添加分类</a>
        </p>

        <div class="lists">
            <p>名称：{{category.name}}</p>
            <p>副名称：{{category.subName}}</p>
            <p>标记(别名)：{{category.flag}}</p>
            <p>父分类：{{category.flag}}</p>
            <p>日期：{{category.created}}</p>
            <p>描述：{{category.description}}</p>
        </div>
    </div>
</div>