
{{css '/assets/plugins/mditor/css/mditor.min.css'}}
{{css 'http://cdn.jsdelivr.net/jquery.fileupload/9.9.0/css/jquery.fileupload.css'}}

{{js '/assets/plugins/mditor/js/mditor.min.js' }}
{{js 'http://cdn.jsdelivr.net/jquery.fileupload/9.9.0/js/vendor/jquery.ui.widget.js' }}
{{js 'http://cdn.jsdelivr.net/load-image/1.11.1/js/load-image.min.js' }}
{{js 'http://cdn.jsdelivr.net/jquery.fileupload/9.9.0/js/jquery.fileupload.js' }}
{{js 'http://cdn.jsdelivr.net/jquery.fileupload/9.9.0/js/jquery.fileupload-process.js' }}
{{js 'http://cdn.jsdelivr.net/jquery.fileupload/9.9.0/js/jquery.fileupload-image.js' }}
{{js 'http://cdn.jsdelivr.net/jquery.fileupload/9.9.0/js/jquery.fileupload-audio.js' }}
{{js 'http://cdn.jsdelivr.net/jquery.fileupload/9.9.0/js/jquery.fileupload-video.js' }}
{{js 'http://cdn.jsdelivr.net/jquery.fileupload/9.9.0/js/jquery.fileupload-validate.js' }}



<div class="col-md-12">

    <p class="lead">
        <a class="btn btn-default btn-sm" href="{{adminDir}}/content/" role="button">文章列表</a>
        <a class="btn btn-default btn-sm" href="{{adminDir}}/content/add" role="button">新增文章</a>
    </p>

    <form action="" method="post">
        <div class="form-group">
            <label>标题</label>
            <input name="title" class="form-control" value='{{content.title}}'>
        </div>
        <div class="form-group">
            <label>分类</label>
            <select name="category" class="form-control input-sm">
                <option value="">请选择</option>

                {{#each categorys}}
                    <option value="{{id}}" {{#compare ../content.category '==' id}}selected{{else}}{{/compare}} >{{name}}</option>
                {{/each}}
            </select>
        </div>

        <div class="form-group">
            <label>关键字</label><span>(一个以上关键字请用英文半角逗号,隔开)</span>
            <input name="keywords" class="form-control" value="{{content.keywords}}">
        </div>
        <div class="form-group">
            <label>图集</label>
            <div id="J_gallery" class="gallery">
                 {{#each content.gallery}}
                     <div class="gallery-item">
                         <img src="{{url}}" class="gallery-image">
                          <input type="hidden" name="gallery[]" value="{{id}}">
                         <a href="" class="gallery-remove J_del"
                            data-token="{{../token}}"
                            data-type="ajax"
                            data-url="{{../adminDir}}/file/{{id}}/del"
                            data-toggle="modal"
                            data-target="#myModal">
                             <span class="fa fa-times-circle">

                             </span>
                         </a>
                         <div class="checkbox setThumb">
                             <label>

                                 <input type="checkbox"
                                     {{#compare ../content.thumb '==' id}} checked{{else}}{{/compare}}
                                        class="setThumbCk" value="{{id}}">
                                 设为缩略图
                             </label>
                         </div>
                         <a class="insertContent btn btn-default btn-xs" data-imgUrl="{{url}}">插入到文章</a>

                     </div>
                     {{/each}}
                <input type="hidden" name="thumb" value="{{id}}">
            </div>
            <span class="btn btn-default fileinput-button"><span>添加图片</span>
                <input id="fileupload" type="file" name="files[]" multiple="multiple">
            </span>
            <div id="progress" class="progress progress-striped mgt10">
                <div class="progress-bar progress-bar-default progress-bar-success"></div>
            </div>
        </div>
        <div class="form-group">
            <label>内容</label>
            <textarea id="J_editor" name="content" rows="20" style="background-color: rgb(255, 255, 255); border: none;" class="form-control">{{content.content}}</textarea>
        </div>
        <input type="hidden" name="_csrf" value="{{token}}">
        <button type="submit" class="btn btn-default">提交</button>
    </form>
</div>

<!-- Load these page level functions-->
    {{#section 'scripts'}}
    <script type="text/javascript">
    var token = '{{token}}';

    $(function () {
        var mditor =  Mditor.fromTextarea(document.getElementById('J_editor'));
        mditor.split = false;
        mditor.on('ready',function(){
            console.log(mditor.value);
            //更改按钮行为
            //示例，更改「图片」按钮配置，其它按钮是同样的方法
            //let btn = mditor.toolbar.getItem('image');
            //替换按钮动作
            /*btn.handler = function(){
                //自定义处理逻辑
                //this 指向当前 mditor 实例
            };
*/
        });


        $('#fileupload').fileupload({
            //url: '/upload',
            url: '/admin/file/add',
            formData: {
                _csrf: '{{token}}'
            },
            dataType: 'json',
            progressall: function(e, data) {
                //console.log(e, data);
                var progress = parseInt(data.loaded / data.total * 100, 10);
                //console.log(progress)
                $('#progress .progress-bar').css(
                        'width',
                        progress + '%'
                ).text(progress + '%')
            },
            done: function (e, data) {
                $('#progress .progress-bar').addClass('progress-bar-success').css(
                        'width',
                        100 + '%'
                ).text('100%')
                $.each(data.result.files, function (index, file) {
                    console.log(file)
                    var url = file.md_url || file.url,
                        id = file._id;
                    var html = ' <div class="gallery-item"><img src="'+ url +'" class="gallery-image">' +
                            ' <input type="hidden" name="gallery[]" value="'+ id +'">' +
                            '<a data-token="'+token+'" ' +
                            'data-type="ajax" ' +
                            'data-url="/admin/file/' + id + '/del" ' +
                            'class="gallery-remove" ' +
                            'data-toggle="modal" ' +
                            'data-target="#myModal">' +
                            '<span class="fa fa-times-circle"></span>' +
                            '</a>' +
                            '    <div class="checkbox setThumb">' +
                            '           <label>' +
                            '              <input type="checkbox" class="setThumbCk" value='+ id +'> 设为缩略图' +
                            '           </label>' +
                            '    </div>'+
                            '<a class="insertContent btn btn-default btn-xs">插入到文章</a>'+
                            ' </div>'
                    $('#J_gallery').append(html)
                })
            }
        })

        $('#J_gallery').on('click','.setThumbCk',function(){
            var  $galleryItem =  $(this).parents('.gallery-item'),
                    id=$(this).val(),
                    $thumb = $(this).parents('#J_gallery').find('input[name="thumb"]')

            if ($(this).prop("checked")) {
                $galleryItem.siblings().find('.setThumbCk').prop('checked',false)
                $thumb.val(id)
            }else{
                $thumb.val('')
            }

        })
        $('#J_gallery').on('click','.insertContent',function(){
            var     imgUrl = $(this).siblings('img').attr('src'),
                    index=imgUrl.lastIndexOf("/uploaded"),
                    imgUrl=imgUrl.substring(index,imgUrl.length),
                    mdStr = '![alt]('+ imgUrl +')'
            mditor.editor.insertAfterText(mdStr);

        })


    })
    </script>
    {{/section}}
