
        <div class="row">
            <div class="col-md-12">

                <p class="lead">
                    <a class="btn btn-default btn-sm" href="{{adminDir}}/content/add" role="button">新增文章</a>
                </p>


                <table class="table">
                    <tbody>
                    {{#each contents}}
                    <tr>
                        <td><a href="/content/{{id}}" target="_blank">
                            {{title}}
                            <i class="fa fa-external-link"></i></a>
                        </td>
                        <td>
                           {{author.name}}
                        </td>
                        <td>{{dateFormat created 'yyyy-MM-dd hh:mm:ss'}}</td>
                        <td><a href="{{../adminDir}}/content/{{id}}/edit" class="btn btn-default btn-xs">编辑</a>
                            <a data-toggle="modal"
                               data-target="#myModal"
                               data-url="{{../adminDir}}/content/{{id}}/del"
                               class="btn btn-default btn-xs">删除</a>
                        </td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>

                {{#if pageInfo}}
                    {{#compare pageInfo.totalPage '>' 1}}

                            <ul class="pagination pagination-sm">
                                {{{pagination pageInfo}}}
                            </ul>

                    {{/compare}}
                {{/if}}
            </div>
        </div>
