<div class="row">
    <div class="col-md-12">
        <p class="lead"><a href="/admin/log" class="btn btn-default btn-sm">日志列表</a></p>
        <div class="lists">
            <p>类型：{{log.type}}</p>
            <p>动作：{{log.action}}</p>
            <p>状态：{{log.status}}</p>
            <p>ip：{{log.ip}}</p>
            <p>ua：{{log.ua}}</p>
            <p>用户：{{log.author}}</p>
            <p>内容：{{log.message}}</p>
            <p>日期：{{dateFormat log.created 'yyyy-MM-dd hh:mm:ss'}}</p>
        </div>
    </div>
</div>