


<section class="info-container">
    <div class="info-message">
        <p>{{message}}</p>
        <p>
            {{error.status}}
        </p>
        <p>
            {{error.stack}}
        </p>

        <p>
            {{#if backPath}}
                <a href="{{adminDir}}/{{backPath}}" class="btn btn-default">返回</a>
            {{else}}
                <a href="{{adminDir}}" class="btn btn-default">返回</a>
            {{/if}}
        </p>
    </div>
</section>
