<div class="row">
    <div class="col-md-12">
        <p class="lead">
            <a href="{{adminDir}}/tag/" class="btn btn-default btn-sm">标签列表</a>
            <a href="{{adminDir}}/tag/add" class="btn btn-default btn-sm">添加标签</a>
        </p>
        <div class="lists">
            <p>名称：{{tag.name}} </p>
            <p>日期：{{dateFormat tag.created 'yyyy-MM-dd hh:mm:ss'}}</p>
            <p>描述：{{tag.description}}</p>
        </div>
    </div>
</div>